@charset= "UTF-8"

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
	background-color: #9FD3A5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*RESET CSS ENDS*/



@font-face {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
    font-style: normal;
  }


body{
	body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: darkseagreen

}
}

.sidenav{
  width: 15%;
  height: 70%;
  background-color: #DAF8C1;
  align-content: center;
  margin: 0 20px;
  padding-top: 20px;
  position: fixed;

  top: 0;
  bottom: p;
  left: 0;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  background-color: #A4D0AC;
  font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'
  text-align: center;
  font-weight: bold;
  font-size: 20px;

}

li a{
  display: block;
  color: #FFFFFF;
  padding:8px 16px;
  text-decoration: none;
  text-align: center;
  margin: 15px 0;
}

li a:hover{
  background-color: #B7B5B5;
  color: #57A606;
  padding:8px 16px;
  text-align: center;
}

li a:active{
   background-color: #FFFFFF;
   color: #84D08A; 
   padding:8px 16px;
   text-align: center;
}

.sidenav img{
  margin-bottom: 15px;
  width: 140px;
  height: 140px;

}



.main{
  margin-left: 20%;
  width: 75%;
  float: left;
 /* background-color: */
  /*position: fixed;*/
}

h2{
   font-family: 'boldbold', sans-serif;
   color: #498A65;
   padding-left: 15px;
}

h4{
  margin: 10px;
}

p{
  margin: 10px;
}


.highlight{
  height: 10%;
  width: 100%;
  background-color: #FFFFFF;
  padding: 20px;
  float: left;
  margin-bottom: 20px;
}

.highlight img{
  float: left;
  margin: 5px;
  padding-right: 10px;
}



.footer{
 /* position: absolute;*/
  left: 0;
  bottom:0;
  width: 100%;
  height: 40px;
  background-color: #6BAA7C;
  text-align: right;
  overflow: auto;
  vertical-align: center;
  margin: 0 auto;
  color: #66878a;
}

.footer small{
 padding: 10px;
 margin-top: 10px;
 display: inline;
 line-height: 40px;
}


.footer img{
  height: 35px;
  width: 35px;
  float: right;
  margin: 0 5px;
  display: inline;
  margin-top: 2px;
}

#gallery{
  width: 100%;
  background-color: ;
  padding: 9px;
}

#gallery img{
  padding: 15px;
}

#about{
  float: left;
  width: 100%;
  height: 50%;
}

#about img{
  width: 250px;
  height: 330px;
  border:solid #green;
  float: left;
  margin: 20px;
  border-width: thick;
}

#about p{
  line-height: 25px;  
}

* {box-sizing: border-box;}


