@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'archisticonormal';
    src: url('Archistico_Simple-webfont.woff') format('woff');
       
    font-weight: normal;
    font-style: normal;
}

h1{ font-family: 'archisticonormal';
	
}
@font-face {
    font-family: 'black_jackregular';
    src:url('blackjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

	}        
h2{ font-family: 'black_jackregular';
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}
h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	
}
p{ font-family: 'Raleway', sans-serif;
font-weight: 400;
}
